# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
*.war
*.ear
*.sar
*.class
.metadata
org.eclipse.
test.xml
RemoteSystemsTempFiles
driver-ebs-backup
tnet-json-test
tnet-external-resources
tnet-common
JAXB-test
FETCH_HEAD
src/main/java/com/tnet/server/Main.java
target
src/main/resources/VirtualBroker.properties
src/main/resources/log4j.properties
.settings
Tamir*
autoGenTri.xml
manifestUpdater.php
www/manifest.inc.php
java/bin
java/src/main/java/com/tradair/virtualbroker/infra/UserFlow.java
.idea
db/.DS_Store
.DS_Store
